<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}LionTrade{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <!-- Navigation Menu -->
  <!-- <nav class="navbar">
    <a class="navbar-brand" href="{{ url_for('show_popular_listings') }}">Columbia Exchange</a>
    <ul>
      <li><a href="{{ url_for('show_popular_listings') }}">Home</a></li>
      <li><a href="{{ url_for('new_listing') }}">Create a Listing</a></li>
    </ul> -->
  <nav class="navbar">
    <a class="navbar-brand" href="{{ url_for('show_popular_listings') }}">Columbia Exchange</a>
    <ul>
      <li><a href="{{ url_for('show_popular_listings') }}">Home</a></li>
      <li><a href="{{ url_for('new_listing') }}">Create a Listing</a></li>
      <li><a href="{{ url_for('profile') }}">Profile</a></li>
      <li><a href="{{ url_for('messages') }}">Messages</a></li>
    </ul>
    <form class="search-form" action="{{ url_for('search') }}" method="get">
      <input type="search" name="query" placeholder="Search" aria-label="Search" required>
      <button type="submit">Search</button>
    </form>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>

</html>