<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}LionTrade{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <!-- Navigation Menu -->
  <nav class="navbar">
    <a class="navbar-brand" href="{{ url_for('show_popular_listings') }}">LionTrade</a>
    <ul>
      <li><a href="{{ url_for('show_popular_listings') }}">Home</a></li>
      {% if current_user %}
      <!-- Only show these links if user is logged in -->
      <li><a href="{{ url_for('new_listing') }}">Create a Listing</a></li>
      <li><a href="{{ url_for('profile') }}">Profile</a></li>
      <li><a href="{{ url_for('message_overview') }}">Messages</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% else %}
      <!-- If not logged in, show only login link -->
      <li><a href="{{ url_for('login') }}">Login</a></li>
      {% endif %}
    </ul>

    <!-- Search Form -->
    <form class="search-form" action="{{ url_for('search') }}" method="get">
      <input type="search" name="query" placeholder="Search" aria-label="Search" required>
      <button type="submit">Search</button>
    </form>
    <form class="search-form" action="{{ url_for('advanced_search') }}" method="get" style="margin-left: 10px;">
      <button type="submit">Advanced Search</button>
    </form>
  </nav>

  <!-- Content Container -->
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>

</html>